<div class="container-fluid">
<div class="row">
  <div class="col">
      <h2 class="text-center text-success">Perfil Estudiante</h2>
      <div class="text-center"><i class="fas fa-user fa-5x text-secondary mb-3"></i></div>
      <div class="input-group input-group-sm mb-3 float-left">
          <div class="input-group-prepend ">
            <span class="input-group-text" id="inputGroup-sizing-sm"  >Nombre: </span>
          </div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3 float-left">
            <div class="input-group-prepend">

              <span class="input-group-text" id="inputGroup-sizing-sm">Matricula: </span>
            </div>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

            <button type="button" class="btn btn-outline-success btn-lg btn-block mt-3">Ingresar en el Hijo</button>
      </div>

  </div>
</div>
</div>
