<div class="container-fluid">
<div class="row">
  <div class="col">
      <h2 class="text-center text-success">Perfil Estudiante</h2>
      <div class="text-center"><i class="fas fa-user fa-5x text-secondary mb-3"></i></div>
      <div class="input-group input-group-sm mb-3 float-left">
          <div class="input-group-prepend"  >
            <span class="input-group-text" id="inputGroup-sizing-sm" >Nombre: </span>
          </div>
          <input [(ngModel)]="name" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" >
        </div>
        <div class="input-group input-group-sm mb-3 float-left">
            <div class="input-group-prepend">

              <span class="input-group-text" id="inputGroup-sizing-sm">Matricula: </span>
            </div>
            <input  [(ngModel)]="matricula" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

      </div>
      <p
          *ngIf="(name !== undefined && matricula !== undefined) && (name !== '' && matricula !== '') && activo !== !(activo)">
          El estuandiante: {{name}} debe cancelar la cantidad de: {{matricula}}$</p>
      <button type="button" class="btn btn-outline-success btn-lg btn-block mt-3" (click)="pushAlArray()">Ingresar en el Hijo</button>
  </div>
</div>
</div>

<!--Aqui se inyecta al hijo-->
<!--Se recorre todo el array estudiantes del padre y se manda por medio del @input al hijo-->

<!--Aqui tambien va el output del hacia el padre-->
<!--En este mismo selector el dato va a volver-->
<!--Usando los perentesis, se crea un evento propio de nombre cambio-->
<!--viene en cambio y se envia como parametro de la funcion que vamos a crear-->
<hr>
<h6 class="text-muted">Este es el hijo</h6>
<app-hijo *ngFor="let estudiante of estudiantes"
[estudiante] = "estudiante"
(cambio) = "funCambiar($event)"
></app-hijo>
<p> EL dato con el output es: {{datohijo}}</p>
